/* Hi ladies, feel free to change any style!*/
body {
    width: 100%;
    height: auto;
    padding-top: 0;
    font-family: 'Fresca', sans-serif;
    font-size: 20px;
    margin: -40px auto;
}


.container-fuild {
    width: 100%;
    height: auto;
    font-family: 'Fresca', sans-serif;/* feel free to change any fonts*/
    margin-top: -21px;
    margin: 0 auto;
}

.row {
    /*margin-left: 200px; style for side bar menu space*/
    margin: 0 auto;
    padding: 2em;
    overflow: hidden;
    height: auto;
    
}

.container-image {
    margin-top: 70px;
}

.tab-pane {
    text-align: center;
    margin-top: 7px;
}

.logo {
    margin-top: -45px;
}

.collapse .navbar-collapse {
    position: absolute !important;
    width: auto;
}

.navbar.navbar-default {
    border-width:0px;
    background-color: #0bb238;
    width: 100%;
    height: auto;
} 

.nav .navbar-nav .nav .nav-pulls .navbar-right {
    margin: 0;
    border:0px;
    border-bottom-color: transparent !important;
    width: 100%;
    height: auto;
}

.img-responsive {
     max-width: 100%;
     height: auto;
     display: block
 }

.header-container {
    padding-left: 40px;
    margin-left: 50px;
}

/* carousel  less than 600px*/
 @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
   }
 
 /* fix padding under menu after resize */
    @media screen and (max-width: 767px) {
        body { padding-top: 60px; }
    }
    @media screen and (min-width:768px) and (max-width: 991px) {
        body { padding-top: 110px; }
    }
    @media screen and (min-width: 992px) {
        body { padding-top: 60px; }
    }
   


/*carusole index.html*/
.carousel-inner img {
      width: 100%;
      margin: auto;
      min-height:100%;
  }

#myCarousel{
    margin: auto;
    width: 100%;
    
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

/*.block{
		border: 0px solid #000000;
		padding-top: 50px;
		padding-bottom: 20px;
		overflow: hidden;
	}*/
	

/* form style*/
.form-group .control-label .form-control {
    width: 100%;
}

.container-form {
   margin: 0 auto;
}

/*footer style*/
.footer{
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  text-align: center;
  margin-top: 100px;
  background-color: #0bb238;
 
}

/*map google*/
.container-map {
    margin-top: 20px;
    text-align: center;
}

 #map {
        height: 400px;
        width: 80%;
        margin: 0 auto;
 }
 
 
 /*navbar change color*/ 
 .navbar-default > li > a:hover, .navbar-default > li > a:focus {
color: #228B22  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #ffffff; /*BACKGROUND color for active*/
background-color: #f03c0f;
}

  .navbar-default {
    background-color: #f2552c;
    border-color: #f03c0f;
}

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    color: #ffffff;
   text-decoration: none;
  background-color: #f03c0f;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: #228B22
; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: #ffffff; /*Change active text color here*/
    }

/*======fun list page=====for template-fun-html*/
.container-fun {
    text-align: center;
    margin: 0 auto;
}

/* fun lists thumbnails*/
.container-fluid-thumbnails {
    margin: 0 auto;
}
.row-fluid ul{
    margin:0 auto;
}

.thumbnails {
    float: left;
}

.span4 {
    margin-left: 80px;
    margin-top: 10px;
}
/*===========================================*/
article {
    display: block;
    margin: 50px auto;
}



/*//////animation   at index page /////////////////////////////*/

#box {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: absolute;
}

.box1 {
    background: #FF6347;/*orange*/
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 0px ;
    margin-left: 700px;
}
.box2 {
  margin-top: 80px;
  background: #FFB6C1;/*light pink*/
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: -400px;
  margin-left: 400px;
}

.box3 {
  margin-top: 100px;
  background: #FFB6C1;/*light pink*/
  width: 50px;
  height: 50px;
  margin-top: -200px;
  margin-left: 1000px;
}

.box4 {
  margin-top: 50px;
  background: #FFB6C1;/*light pink*/
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: -200px;
  margin-left: 300;
}

/*////////////////////////////anime /////////////////////////////*/
#container-anime {
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

#img1 {
    position: relative;
    left:50px;
    top:25px;
}

/*========================================================================*/
/*=========================form javascript ======================================*/

 
            .container-gene {
                width: 300px;
                height: auto;
                margin: 30px auto;
                border-color: 1px solid #c8ccd1;
                background: #c8ccd1;
                text-align: center;
            }
        .input-text {
            margin-left: 500px 0px;
            text-align: center;
        }
            
       .input[type="text"]{
                width: 300px;
                margin: 0 auto;
                padding: 7px;
                border-radius: 3px;
                border-color: solid 1px #d1483e;
                font-size: 20px;
                font-family: 'Courier New', sans-serif;
                text-align: center;
                
            }
            #btn {
                width: 300px;
                color: #ffff;
                background: #00aaff;
                padding: 7px;
                border-radius: 15px;
                box-shadow: 0 5px 0 #00888c;
                cursor: pointer;
                text-align: center;
                margin: 0 auto;
            }
            #btn:hover {
                opacity:0.8;
            }
            fieldset {
                width:300px;
                height: 200px;
                margin-top: 30px;
                margin-left: 20px auto;
                border: 2px dashed 	#a2a9b1;
                border-radius: 15px;
                text-align: center;
            }
            legend {
                font-weight: bold;
                padding: 0 10px;
            }
            fieldset  p {
                text-align: center;
            }